<h1>Editar Cuadro!</h1>

<form action="/cuadros/<%= cuadro.id %>?_method=PUT" method="cuadro" id="cuadroEditForm" enctype="multipart/form-data">

    <div><input type="text" name='cuadro[title]' placeholder="Título" value='<%= cuadro.title %>'></div>
    <div><input type="text" name='cuadro[price]' placeholder="Precio" value='<%= cuadro.price %>'></div>
    <div>
        <input type="file" id="imageUpload" accept="images/*" name='images' multiple />
        <div>
            <% cuadro.images.forEach(function(image, i) { %>
                <img src="<%= image.url %>" width="100px" />
                <label for="image<%= i %>">Delete?</label>
                <input type="checkbox" name="deleteImages[]" class="imageDeleteCheckbox" id="<%= i %>" value="<%= image.public_id %>">
            <% }); %>
        </div>
    </div>
    <div><textarea name="" id="" cols="30" rows="10" name='cuadro[decription]' placeholder="Descripción"><%= cuadro.description %></textarea></div>
    <div><input type="text" name='cuadro[location]' placeholder="Ubicación" value='<%= cuadro.location %>'></div>

    <input type="submit">
</form>

<script>
    // encontrar el form de post edit
    let postEditForm = document.getElementById('postEditForm');
    // añadir un listener al submit del form
    postEditForm.addEventListener('submit', function(event) {
        // encontrar cantidad de imágenes subidas
        let imageUploads = document.getElementById('imageUpload').files.length;
        // saber el número total de imágenes subidas
        let existingImgs = document.querySelectorAll('.imageDeleteCheckbox').length;
        // saber el total de posibles imágenes a borrar (checkbox:checked)
        let imgDeletions = document.querySelectorAll('.imageDeleteCheckbox:checked').length;
        // averiguar si el form puede mandarse o no (submit or not)
        let newTotal = existingImgs - imgDeletions + imageUploads;
 
        if (newTotal > 4) {
            event.preventDefault();
            let removalAmt = newTotal - 4
            alert(`Debes remover al menos más de ${removalAmt} imáge${removalAmt === 1 ? 'n' : 'nes'}!`);
        }
    });
</script>